body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

#upload-section,
#tone-generator-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#visualizer-canvas {
    border: 1px solid #000;
    background-color: #eee;
}
